<div class="text-center bg-info m-0 p-4">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<nav aria-label="breadcrumb m-0" style="background-color: #E9ECEF">
    <div class="d-flex">
        <ol class="breadcrumb mr-auto mb-0">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Library</a></li>
            <li class="breadcrumb-item active" aria-current="page">Data</li>
        </ol>
        <ul class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a routerLink="/">Start</a></li>
            <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
            <li class="breadcrumb-item"><a routerLink="/contact">Contato</a></li>
        </ul>
    </div>
</nav>

<div class="container mt-4 text-center">
    <router-outlet></router-outlet>
</div>
